*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 200vh;
}

.ad-format {
    position: fixed;
    height: 255px;
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    bottom: 0;
}

.card {
    width: 300px;
    position: absolute;

    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 30%);
    transform-origin: top;
    transform: translate(0px, 260px) scale(0);
    opacity: 0;

    border: none !important;
}

.card:nth-child(1){
    border: 5px solid yellow;
}

.card:nth-child(1).visible {
    transition: all 1s ease-out .6s;
}

.card:nth-child(1).hidden {
    transition: all 1s ease-out .0s;
}

.card:nth-child(2){
    border: 5px solid yellow;
}

.card:nth-child(2).visible {
    transition: all 1s ease-out .4s;
}

.card:nth-child(2).hidden {
    transition: all 1s ease-out .2s;
}

.card:nth-child(3){
    border: 5px solid yellow;
}

.card:nth-child(3).visible {
    transition: all 1s ease-out .2s;
}

.card:nth-child(3).hidden {
    transition: all 1s ease-out .4s;
}

.card:nth-child(4){
    border: 5px solid yellow;
}

.card:nth-child(4).visible {
    transition: all 1s ease-out 0s;
}

.card:nth-child(4).hidden {
    transition: all 1s ease-out .6s;
}

.visible{
    opacity: 1;
    transform: translate(0px, 30px) scale(1);
}