* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.dummy-content {
  color: #d2d2d2;
}

.ad-format {
  position: fixed;
  height: 25%;
  width: 100vw;
  /* background-color: aqua; */
  bottom: 0;
}

.innity-apps-turnstile-content {
  height: 90%;
  position: relative;
}

.innity-apps-turnstile-footer {
  height: 10%;
}

.innity-apps-turnstile-video-background{
    height: 100%;
    width: auto;
}

.innity-apps-turnstile-video{
    width: auto;
    height: 100%;
    position: absolute;
}

.innity-apps-turnstile-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

.innity-apps-turnstile-card-group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 900px;
}


.innity-apps-turnstile-card {
  visibility: hidden;
  height: 100%;
  width: auto;
  position: absolute;
  box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 30%);
  transform-origin: top;

  border: none !important;
}

.innity-apps-turnstile-animated-card {
  box-shadow: none;
}

.innity-apps-turnstile-card:nth-child(1) {
  opacity: 0.1;
}

.innity-apps-turnstile-card:nth-child(2) {
  opacity: 0.3;
}

.innity-apps-turnstile-card:nth-child(3) {
  opacity: 0.6;
}

.innity-apps-turnstile-card:nth-child(4) {
  opacity: 1;
}

/* Fade In From Back Start */
.innity-apps-turnstile-fade-in-from-back{
    z-index: 1;
}

.innity-apps-turnstile-fade-in-from-back .innity-apps-turnstile-card {
  animation: innity-apps-turnstile-fifb 1.5s ease-out forwards;
}

@keyframes innity-apps-turnstile-fifb {
  from {
    visibility: hidden;
    transform: rotateX(100deg) translateY(-300px)
      translateZ(calc(-100vh - 100px));
    scale: 0.3;
  }
  to {
    visibility: visible;
    transform: rotateX(0deg) translateY(0);
    scale: 1;
  }
}

@-webkit-keyframes innity-apps-turnstile-fifb {
  0% {
    visibility: hidden;
    transform: translateY(-300px) translateZ(calc(-100vh - 100px));
    rotate: x 100deg;
    scale: 0.3;
  }
  100% {
    visibility: visible;
    transform: translateY(0) ;
    rotate: 0deg;
    scale: 1;
  }
}

.innity-apps-turnstile-fade-in-from-back .innity-apps-turnstile-card:nth-child(1) {
  animation-delay: 0.8s;
}

.innity-apps-turnstile-fade-in-from-back .innity-apps-turnstile-card:nth-child(2) {
  animation-delay: 0.7s;
}

.innity-apps-turnstile-fade-in-from-back .innity-apps-turnstile-card:nth-child(3) {
  animation-delay: 0.6s;
}

.innity-apps-turnstile-fade-in-from-back .innity-apps-turnstile-card:nth-child(4) {
  animation-delay: 0.5s;
}
/* Fade In From Back End */


/* Fade Out To Front Start */
.innity-apps-turnstile-fade-out-to-front .innity-apps-turnstile-card{
  visibility: visible;
  animation: innity-apps-turnstile-fotf 1s ease-in forwards;
}

@keyframes innity-apps-turnstile-fotf {
  from {
    visibility: visible;
    transform: rotateX(0deg) translateY(0);
  }
  to {
    visibility: hidden;
    transform: rotateX(-90deg) translateY(200px)
      translateZ(calc(+100vh + 100px));
  }
}

@-webkit-keyframes innity-apps-turnstile-fotf {
  from {
    visibility: visible;
    transform: translateY(0);
    rotate: 0deg;
  }
  to {
    visibility: hidden;
    transform: translateY(200px)
      translateZ(calc(+100vh + 100px));
    rotate: x -90deg;
  }
}

.innity-apps-turnstile-fade-out-to-front .innity-apps-turnstile-card:nth-child(1) {
  animation-delay: 0.5s;
}

.innity-apps-turnstile-fade-out-to-front .innity-apps-turnstile-card:nth-child(2) {
  animation-delay: 0.4s;
}

.innity-apps-turnstile-fade-out-to-front .innity-apps-turnstile-card:nth-child(3) {
  animation-delay: 0.3s;
}

.innity-apps-turnstile-fade-out-to-front .innity-apps-turnstile-card:nth-child(4) {
  animation-delay: 0.2s;
}
/* Fade Out To Front End */


/* Fade In From Front Start */
.innity-apps-turnstile-fade-in-from-front{
    z-index: 1;
}

.innity-apps-turnstile-fade-in-from-front .innity-apps-turnstile-card{
  visibility: hidden;
  animation: innity-apps-turnstile-fiff 1s ease-out forwards;
}

@keyframes innity-apps-turnstile-fiff {
  from {
    visibility: hidden;
    transform: rotateX(-90deg) translateY(200px)
      translateZ(calc(+100vh + 100px));
  }
  to {
    visibility: visible;
    transform: rotateX(0deg) translateY(0);
  }
}

@-webkit-keyframes innity-apps-turnstile-fiff {
  from {
    visibility: hidden;
    transform: translateY(200px)
      translateZ(calc(+100vh + 100px));
    rotate: x -90deg;
  }
  to {
    visibility: visible;
    transform: translateY(0);
    rotate: 0deg;
  }
}

.innity-apps-turnstile-fade-in-from-front .innity-apps-turnstile-card:nth-child(1) {
  animation-delay: 0.5s;
}

.innity-apps-turnstile-fade-in-from-front .innity-apps-turnstile-card:nth-child(2) {
  animation-delay: 0.6s;
}

.innity-apps-turnstile-fade-in-from-front .innity-apps-turnstile-card:nth-child(3) {
  animation-delay: 0.7s;
}

.innity-apps-turnstile-fade-in-from-front .innity-apps-turnstile-card:nth-child(4) {
  animation-delay: 0.8s;
}
/* Fade In From Front End */

/* Fade Out To Back Start */
.innity-apps-turnstile-fade-out-to-back .innity-apps-turnstile-card{
  visibility: visible;
  animation: innity-apps-turnstile-fotb 1s ease-in forwards;
}

@keyframes innity-apps-turnstile-fotb {
  from {
    visibility: visible;
    transform: rotateX(0deg) translateY(0);
  }
  to {
    visibility: hidden;
    transform: rotateX(90deg) translateY(-300px)
      translateZ(calc(-100vh - 100px));
  }
}

@-webkit-keyframes innity-apps-turnstile-fotb {
  from {
    visibility: visible;
    transform: translateY(0);
    rotate: 0deg;
  }
  to {
    visibility: hidden;
    transform: translateY(-300px)
      translateZ(calc(-100vh - 100px));
    rotate: x 90deg;
  }
}

.innity-apps-turnstile-fade-out-to-back .innity-apps-turnstile-card:nth-child(1) {
  animation-delay: 0s;
}

.innity-apps-turnstile-fade-out-to-back .innity-apps-turnstile-card:nth-child(2) {
  animation-delay: 0.1s;
}

.innity-apps-turnstile-fade-out-to-back .innity-apps-turnstile-card:nth-child(3) {
  animation-delay: 0.2s;
}

.innity-apps-turnstile-fade-out-to-back .innity-apps-turnstile-card:nth-child(4) {
  animation-delay: 0.3s;
}
/* Fade Out To Back End */
