*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.dummy-content{
    color: #d2d2d2;
}

.ad-format {
    position: fixed;
    height: 25%;
    width: 100vw;
    background-color: aqua;
    bottom: 0;
}

.content{
    height: 90%;
}

.footer {
    height: 10%;
}

.card-group {
    display: flex;
    justify-content: center;
}

.card {
    height: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 30%);
    transform-origin: top;
    

    border: none !important;
}

.card:nth-child(1){
    opacity: .1;
    border: 5px solid yellow;
}

.card:nth-child(1).visible {
    transition: all 1.0s ease-in 1.0s;
}

.card:nth-child(1).hidden {
    transition: all .5s ease-out .0s;
}

.card:nth-child(1).seen {
    transition: all .5s ease-out .3s;
}

.card:nth-child(1).resee {
    transition: all .5s ease-out 1.0s;
}


/* ******************* */
.card:nth-child(2){
    opacity: .3;
    border: 5px solid yellow;
}

.card:nth-child(2).visible {
    transition: all 1.0s ease-in .9s;
}

.card:nth-child(2).hidden {
    transition: all .5s ease-out .1s;
}

.card:nth-child(2).seen {
    transition: all .5s ease-out .2s;
}

.card:nth-child(2).resee {
    transition: all .5s ease-out 1.1s;
}


/* ******************* */
.card:nth-child(3){
    opacity: .6;
    border: 5px solid yellow;
}

.card:nth-child(3).visible {
    transition: all 1.0s ease-in .8s;
}

.card:nth-child(3).hidden {
    transition: all .5s ease-out .2s;
}

.card:nth-child(3).seen {
    transition: all .5s ease-out .1s;
}

.card:nth-child(3).resee {
    transition: all .5s ease-out 1.2s;
}

/* ******************** */
.card:nth-child(4){
    opacity: 1;
    border: 5px solid yellow;
}

.card:nth-child(4).visible {
    transition: all 1.0s ease-in .7s;
}

.card:nth-child(4).hidden {
    transition: all .5s ease-out .3s;
}
.card:nth-child(4).seen {
    transition: all .5s ease-out .0s;

}
.card:nth-child(4).resee {
    transition: all .5s ease-out 1.3s;
}


.hidden {
    scale: 0;
    /* rotate: x -100deg; */
    opacity: 0;
    transform-origin: bottom;
    /* translate is set by app.js */
}


.visible{
    translate: 0 10px !important;
    scale: 1;
}

.seen {
    opacity: 0;
    scale: 1.3;
    transform-origin: bottom;
    /* rotate: x 180deg; */
    /* translate is set by app.js */
}

.resee {
    opacity: 1;
    scale: 1;
    translate: 0 10px;
}